alias sshb='ssh root@theshadowfog.com'
alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
#alias ls='ls --tabsize=0 --literal --color=auto --show-control-chars --human-readable --group-directories-first -X'
alias mkdir='mkdir -p -v'
alias mv='mv -v'
alias pingg='ping www.google.fr'
alias suvim='sudo vim'
alias volume='alsamixer -c 0'
alias rtop='~/reddit-top/reddit_top.py'
alias tnethack='telnet nethack.alt.org'
alias nethack='nethack'
alias timed='~/hacking/programming/shell/timed/main.sh'
alias java='~/jre1.6.0_31/bin/java'
alias torchrome='google-chrome -proxy-server="socks://localhost:9050"'
alias sprunge='curl -F "sprunge=<-" http://sprunge.us'
alias aerofs='~/aerofs/aerofs/aerofs-sh'
#alias aterm='urxvt'
